<div class="login-wrapper">
    <div class="login-card">
        <div class="h2">Register</div>
        <form class="login-form" >
            <div class="textbox">
                <mat-icon>perm_identity</mat-icon>
                <input [formControl]="firstName" type="text" placeholder="First Name">
            </div>
            <div class="textbox">
                <mat-icon>perm_identity</mat-icon>
                <input [formControl]="lastName" type="text" placeholder="Last Name">
            </div>
            <div class="textbox">
                <mat-icon> mail_outline</mat-icon>
                <input [formControl]="email" type="email" placeholder="Email Address">
            </div>
            
            <div class="textbox">
                <mat-icon>lock_open</mat-icon>
                <input [formControl]="password" type="password" placeholder="Password">
            </div>
            <div class="textbox">
                <mat-icon>lock_open</mat-icon>
                <input [formControl]="confirmPassword" type="password" placeholder="Confirm Password">
            </div>
            <div class="button-area">
                <button (click)="register()" class="login-button">
                    <div class="!submitted">
                        Register
                    </div>
                    <div *ngIf="submitted" class="submitted">
                        
                    </div>
                </button>
            </div>
            
        </form>
        
        
        
    </div>
    <div class="options">
        <div class="p">
            Already have an account? <span routerLink="/">Login</span>
        </div>
        
    </div>    
</div>
