<div class="dashboard-wrapper">
    
    <div class="notes">
        <div class="head">
            Notes
        </div>
        <div class="noNotes" *ngIf="!singleNote">
            You have no notes yet!
        </div>
        <div class="mynotes">

        </div>
        <div (click)="viewNote(singleNote.id)" *ngIf="singleNote" class="mynote">
            <div class="title">
                {{singleNote.title}}
            </div>
            <div class="time">
                {{singleNote.created | date: 'mediumDate'}}
            </div>
        </div>
    </div>
    <mat-icon (click)="add()" >add_circle</mat-icon>
    <div (click)="logout()" class="logout">Logout</div>
</div>