<div class="add-wrapper">
    <div class="head">Add a new note</div>
    <form  class="add-form" (ngSubmit)="addNewNote()">
        <div class="textbox">
            <input type="text" placeholder="Title" [formControl]="title">
        </div>
        <div class="textbox">
            <input type="text" placeholder="Your note goes here" [formControl]="content">
        </div>
        <div class="button-area">
            <button class="add-note">
                <div class="!submitted">
                    Publish
                </div>
                <div *ngIf="submitted" class="submitted">spin</div>
            </button>
        </div>
    </form>
</div>