<div class="add-wrapper">
    <div class="head">
        <mat-icon (click)="closeTab()">keyboard_arrow_left</mat-icon>
        <button (click)="addNewNote()" class="save">
            <div *ngIf="submitted" class="submitted">

            </div>
            <div *ngIf="!submitted" class="not-submitted">
                Save
            </div>
        </button>

    </div>
    <form  class="add-form">
        <div class="textbox">
            <textarea class="title" type="text" placeholder="Title" [formControl]="title"></textarea>
            <textarea class="content" type="text" placeholder="Type something..." [formControl]="content"></textarea>
        </div>
        
        
    </form>
</div>