<div class="view-wrapper">
    <div class="head">
        <mat-icon (click)="goBack()">keyboard_arrow_left</mat-icon>
        
        
            <button  (click)="updateNote(currentNote.id)" class="save">
                    Update              
            </button>  

        
    </div>
    <form *ngIf="currentNote" class="update-form">
        <div class="textbox">
            <textarea (input)="changeMe($event.target)"  class="title" type="text"  >{{currentNote.title}}</textarea>
            <div class="time">
                {{currentNote.created | date}}
            </div>
            <textarea (input)="changeTwo($event.target)"  class="content" type="text" >{{currentNote.content}}</textarea>
        </div>
    </form>
    <div *ngIf="currentNote" class="destroy">
        <mat-icon (click)="deleteNote(currentNote.id)" >delete</mat-icon>
    </div>
</div>